{
  "jobs": [
    {
      "functionLocation": "/jobFunctions.dailyReminderJob", 
      "description": "Send daily reminder",
      "executionConfig": {
        "time": "12:00" 
      }
    },
    {
      "functionLocation": "/jobFunctions.weeklyReminderJob", 
      "description": "Send weekly reminder",
      "executionConfig": {
         "time": "12:00",
         "dayOfWeek": "Monday"
      }
    },
    {
      "functionLocation": "/jobFunctions.monthlyReminderJob", 
      "description": "Send monthly reminder",
      "executionConfig": {
         "time": "12:00",
         "dateInMonth": 1
      }
    }
  ]
}
